@import './fontSize.styl'
@import "../node_modules/stylus-px2rem"
html
	background #eee
body
	width 720px
	margin 0 auto
	background #fff
	.g-head
		width 720px
		height 353px
		overflow hidden
		position relative
		.m-banner
			width 720px
			height 353px
			.img-wrap
				width 720px
				height 353px
		.m-location
			position: absolute
			top 20px
			left 18px
			width 284px
			height 55px
			line-height 55px
			border-radius 27px
			color #fff
			font-size 0
			background rgba(0, 0, 0, .5)
			.loca-icon
				display inline-block
				width 20px
				height 26px
				margin-left 20px
				margin-top 15px
				background url('../imgs/localtion.png') no-repeat 
				background-size cover
			.loca-text
				display inline-block
				width 180px
				height 25px
				line-height 25px
				margin-left 10px
				font-size 26px			
				text-overflow ellipsis
				white-space nowrap
				overflow hidden
			.loca-right
				display inline-block
				width 12px
				height 22px
				margin-left 22px
				margin-top 16px
				background url('../imgs/right.png')  no-repeat
				background-size cover			         
		.m-search
			position: absolute
			top: 20px
			right 19px
			width 380px
			height 55px
			font-size 0
			border-radius 27px
			background #fff
			overflow hidden
			.search-icon 
				display inline-block
				width 32px
				height 32px
				margin-top 13px
				margin-left 22px
				background url('../imgs/search.png') no-repeat
				background-size cover			
			.search-ipt
				position: absolute
				z-index 100
				width 100%
				height 100%
				top 0
				left 0
				right 0
				background none
				outline none
				border none
				padding-left 60px
				padding-top 15px
				padding-bottom 14px
				font-size 26px
				color #000
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
	.g-main
		width 720px
		height 365px
		overflow hidden
		.g-row
			display flex
			font-size 0
			.item
				flex 1
				text-align center				
				overflow hidden
				.item-img
					width 90px
					height 90px
					margin 28px 44px 14px 44px
				.item-text
					font-size 22px
					color #333
					margin-top 14px
	.g-line	
		width 720px
		height 20px
		background #eee			
	.g-content
		width 720px
		.m-head
			position: relative
			width 720px
			height 132px
			line-height 132px
			text-align center
			font-size 40px
			color #333
			.u-more
				position: absolute
				display inline-block
				width 40px
				height 36px
				top 48px
				right 20px
				background url('../imgs/more.png') no-repeat
				background-size cover
		.m-show
			width 720px
			height 346px
			overflow hidden
			.content-img
				width 720px
				height 346px
		.m-cont
			width 720px
			display flex
			.cont-item
				flex 1
				text-align center
				font-size 0
				border-right 1px solid #e5e5e5 
				padding-bottom 20px
				&:last-child
					border none
				.cont-img
					width 100%
					display block
					overflow hidden
				.cont-title
					display inline-block
					width 187px
					white-space nowrap
					text-overflow ellipsis
					overflow hidden
					font-size 26px
					color #333
					margin-top 30px
				.cont-money
					display block
					font-size 24px
					color #adadad
					margin-top 16px
				.cont-pay
					display inline-block
					font-size 22px
					color #c81623
					margin-top 16px
					.pay-month
						font-size 16px
		.m-sellers
			display flex
			.seller-item
				flex 1
				text-align center
				font-size 0
				margin-bottom 32px
				.seller-img
					// display block
					width 116px
					height 116px
				.seller-title
					display inline-block
					font-size 23px
					color #333
					width 174px
					white-space nowrap
					text-overflow ellipsis
					overflow hidden
					margin-top 6px 
				.seller-type
					display inline-block
					width 114px
					height 30px
					line-height 30px
					font-size 18px
					border 2px solid #000
					border-radius 12px
					margin-top 12px
					padding-top 2px 
					padding-bottom 3px
					&.blue
						color #00a1ff
						border-color #00a1ff
					&.red
						color #df3e3e
						border-color #df3e3e
					
					
			
			
	