html {
  background: #eee;
}
body {
  width: 10rem;
  margin: 0 auto;
}
body .g-head {
  position: relative;
  width: 10rem;
  height: 1.555555555555556rem;
  line-height: 1.555555555555556rem;
  text-align: center;
  background: #60cbb7 url("../imgs/head.png") 100% 100% no-repeat;
  background-size: 100%;
}
body .g-head .u-back {
  position: absolute;
  top: 0.5rem;
  left: 0.472222222222222rem;
  display: inline-block;
  width: 0.291666666666667rem;
  height: 0.555555555555556rem;
  background: url("../imgs/left.png") no-repeat;
  background-size: cover;
}
body .g-head .title {
  font-size: 0.5rem;
  color: #fefefe;
}
body .g-head .u-search {
  position: absolute;
  top: 0.5rem;
  right: 0.416666666666667rem;
  display: inline-block;
  width: 0.555555555555556rem;
  height: 0.555555555555556rem;
  background: url("../imgs/search.png") no-repeat;
  background-size: cover;
}
body .g-ad {
  width: 10rem;
  height: 3.722222222222222rem;
  overflow: hidden;
}
body .g-ad .ad-img {
  width: 10rem;
  height: 3.722222222222222rem;
}
body .g-main {
  width: 10rem;
  padding: 0.375rem 0.486111111111111rem 0.111111111111111rem;
  background: #f4f7fc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body .g-main .m-items {
  display: flex;
  font-size: 0;
  margin-bottom: 0.222222222222222rem;
}
body .g-main .m-items .u-item {
  flex: 1;
  text-align: center;
}
body .g-main .m-items .u-item .item-img {
  width: 1.638888888888889rem;
  height: 1.638888888888889rem;
}
body .g-main .m-items .u-item .item-text {
  display: block;
  font-size: 0.305555555555556rem;
  color: #666;
}
body .g-adbox {
  margin-top: 0.277777777777778rem;
  background: #f4f7fc;
  width: 10rem;
  height: 4.833333333333333rem;
  overflow: hidden;
}
body .g-adbox .m-left {
  display: inline-block;
  width: 3.819444444444445rem;
  height: 4.013888888888889rem;
  margin-top: 0.388888888888889rem;
  margin-left: 0.430555555555556rem;
  background: #fff;
  border-radius: 0.138888888888889rem;
  overflow: hidden;
}
body .g-adbox .m-left .adbox-text {
  padding: 0 0.277777777777778rem 0 0.277777777777778rem;
  text-align: center;
  white-space: nowrap;
  margin-top: 0.555555555555556rem;
}
body .g-adbox .m-left .adbox-text .adbox-title {
  display: block;
}
body .g-adbox .m-left .adbox-text font-size 26px {
  color: #333;
}
body .g-adbox .m-left .adbox-text .adbox-des {
  display: inline-block;
  margin-top: 0.111111111111111rem;
  font-size: 0.305555555555556rem;
  color: #4ed5bc;
}
body .g-adbox .m-left .adbox-img {
  display: block;
  width: 1.875rem;
  height: 1.888888888888889rem;
  margin-top: 0.333333333333333rem;
  margin-left: 0.972222222222222rem;
}
body .g-adbox .m-left .adbox-title,
body .g-adbox .m-left .adbox-des {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .g-adbox .m-right1,
body .g-adbox .m-right2 {
  display: inline-block;
  position: absolute;
  width: 5.180555555555555rem;
  height: 1.930555555555556rem;
  background: #fff;
  border-radius: 0.138888888888889rem;
  overflow: hidden;
  margin-left: 0.166666666666667rem;
  margin-top: 0.388888888888889rem;
}
body .g-adbox .m-right1 .adbox-text,
body .g-adbox .m-right2 .adbox-text {
  vertical-align: top;
  display: inline-block;
  margin-top: 0.319444444444444rem;
  margin-left: 0.291666666666667rem;
  width: 2.875rem;
  overflow: hidden;
}
body .g-adbox .m-right1 .adbox-text .adbox-title,
body .g-adbox .m-right2 .adbox-text .adbox-title {
  display: block;
  width: 100%;
  font-size: 0.361111111111111rem;
  color: #333;
}
body .g-adbox .m-right1 .adbox-text .adbox-des,
body .g-adbox .m-right2 .adbox-text .adbox-des {
  display: inline-block;
  margin-top: 0.111111111111111rem;
  font-size: 0.305555555555556rem;
  color: #4ed5bc;
}
body .g-adbox .m-right1 .adbox-img,
body .g-adbox .m-right2 .adbox-img {
  display: inline-block;
  width: 1.569444444444444rem;
  height: 1.569444444444444rem;
  margin-top: 0.180555555555556rem;
}
body .g-adbox .m-right1 .adbox-title,
body .g-adbox .m-right2 .adbox-title,
body .g-adbox .m-right1 .adbox-des,
body .g-adbox .m-right2 .adbox-des {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .g-adbox .m-right2 {
  margin-top: 2.486111111111111rem;
}
body .g-content {
  width: 10rem;
  margin-top: 0.277777777777778rem;
}
body .g-content .cont-item {
  width: 10rem;
  background: #f4f7fc;
  padding-bottom: 0.416666666666667rem;
  margin-bottom: 0.277777777777778rem;
}
body .g-content .cont-item .cont-head {
  position: relative;
  width: 10rem;
  height: 1.333333333333333rem;
}
body .g-content .cont-item .cont-head .head-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.444444444444444rem;
  display: inline-block;
  width: 0.166666666666667rem;
  height: 0.361111111111111rem;
  background: #23b69a;
}
body .g-content .cont-item .cont-head .head-title {
  position: absolute;
  height: 0.375rem;
  line-height: 0.375rem;
  top: 0.5rem;
  left: 0.819444444444444rem;
  font-size: 0.388888888888889rem;
  color: #333;
  margin-left: 0.208333333333333rem;
}
body .g-content .cont-item .cont-head .head-more {
  position: absolute;
  height: 0.291666666666667rem;
  line-height: 0.291666666666667rem;
  top: 0.569444444444444rem;
  right: 0.708333333333333rem;
  font-size: 0.305555555555556rem;
  color: #999;
  padding-right: 0.277777777777778rem;
  background: url("../imgs/more.png") 100% no-repeat;
  background-size: auto 100%;
}
body .g-content .cont-item .cont-main {
  width: 10rem;
  display: flex;
  padding: 0 0.277777777777778rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body .g-content .cont-item .cont-main .cont-list {
  height: 3.236111111111111rem;
  flex: 1;
  text-align: center;
  font-size: 0;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  background: #fff;
  border-radius: 0.138888888888889rem;
}
body .g-content .cont-item .cont-main .cont-list .cont-img {
  display: block;
  width: 2.888888888888889rem;
  height: 2rem;
}
body .g-content .cont-item .cont-main .cont-list .cont-name {
  display: inline-block;
  width: 2.777777777777778rem;
  margin-top: 0.222222222222222rem;
  font-size: 0.305555555555556rem;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .g-content .cont-item .cont-main .cont-list .cont-pay {
  margin-top: 0.138888888888889rem;
  float: left;
  font-size: 0.305555555555556rem;
  color: #23b69a;
}
body .g-content .cont-item .cont-main .cont-list .cont-pay .pay-n {
  font-size: 0.25rem;
}
body .g-content .cont-item .cont-main .cont-list .cont-dis {
  margin-top: 0.138888888888889rem;
  float: right;
  font-size: 0.25rem;
  color: #999;
  margin-right: 0.055555555555556rem;
}
body .g-foot {
  width: 10rem;
  background: #f4f7fc;
}
body .g-foot .foot-head {
  width: 10rem;
  height: 1.458333333333333rem;
  text-align: center;
}
body .g-foot .foot-head .head-text {
  display: inline-block;
  height: 0.402777777777778rem;
  line-height: 0.402777777777778rem;
  margin-top: 0.569444444444444rem;
  padding-left: 0.555555555555556rem;
  font-size: 0.388888888888889rem;
  background: url("../imgs/text.png") 0 no-repeat;
  background-size: auto 100%;
}
body .g-foot .foot-main {
  width: 10rem;
  padding: 0 0.486111111111111rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body .g-foot .foot-main .foot-items {
  display: flex;
  font-size: 0;
}
body .g-foot .foot-main .foot-items .foot-item {
  flex: 1;
  text-align: center;
}
body .g-foot .foot-main .foot-items .foot-item .foot-img {
  width: 1.513888888888889rem;
  height: 1.513888888888889rem;
}
body .g-foot .foot-main .foot-items .foot-item .foot-text {
  width: 2.694444444444445rem;
  margin: 0.138888888888889rem auto 0.527777777777778rem;
  display: block;
  font-size: 0.333333333333333rem;
  color: #333;
  margin-top: 0.138888888888889rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
