@import './fontSize.styl'
@import "../node_modules/stylus-px2rem"
.swiper-container
	position: absolute
	top 0
	left 0
	bottom 0
	right 0
	// width 720px
	// height 100%
	.slide
		position: relative
		width 100%
		height 100%
		text-align center
		&.slide-wrap1		
			background #ff6766
			.t1
				position: absolute
				display inline-block
				width 343px
				height 55px
				top 149px
				left 187px
				background url('../imgs/a/a.t1.png') no-repeat
				background-size cover
			.t2
				position: absolute
				display inline-block
				width 556px
				height 29px
				top 234px
				left 72px
				background url('../imgs/a/a.t2.png') no-repeat
				background-size cover
			.tu
				position: absolute
				z-index 100
				display inline-block
				width 363px
				height 408px
				top 388px
				left 242px
				background url('../imgs/a/a.tu.png') no-repeat
				background-size cover
			.text
				position: absolute
				display inline-block
				width 128px
				height 126px
				top 483px
				left 496px
				background url('../imgs/a/a.text.png') no-repeat
				background-size cover			
			.pic
				position: absolute
				display inline-block
				width 325px
				height 327px
				top 650px
				left 135px
				background url('../imgs/a/a.pic.png') no-repeat
				background-size cover
			.star1
				position: absolute
				display inline-block
				width 32px
				height 32px
				top 608px
				left 183px
				background url('../imgs/a/a.star1.png') no-repeat
				background-size cover
			.star2
				position: absolute
				display inline-block
				width 56px
				height 56px
				top 928px
				left 215px
				background url('../imgs/a/a.star1.png') no-repeat
				background-size cover
			.star3
				position: absolute
				display inline-block
				width 35px
				height 35px
				top 949px
				left 437px
				background url('../imgs/a/a.star1.png') no-repeat
				background-size cover
			.star4
				position: absolute
				display inline-block
				width 18px
				height 18px
				top 974px
				left 365px
				background url('../imgs/a/a.star1.png') no-repeat
				background-size cover
			.icon1
				position: absolute
				display inline-block
				width 18px
				height 18px
				top 904px
				left 181px
				background url('../imgs/a/a.icon1.png') no-repeat
				background-size cover
			.icon2
				position: absolute
				display inline-block
				width 6px
				height 6px
				top 855px
				left 152px
				background url('../imgs/a/a.icon4.png') no-repeat
				background-size cover
			.icon3
				position: absolute
				display inline-block
				width 16px
				height 16px
				top 904px
				left 496px
				background url('../imgs/a/a.icon2.png') no-repeat
				background-size cover
			.shadow
				position: absolute
				display inline-block
				width 210px
				height 45px
				top 1042px
				left 271px
				background url('../imgs/a/a.shadow.png') no-repeat
				background-size cover
		&.slide-wrap2		
			background #f0ad2b
			.t1
				position: absolute
				display inline-block
				width 343px
				height 55px
				top 149px
				left 187px
				background url('../imgs/b/b.t1.png') no-repeat
				background-size cover
			.t2
				position: absolute
				display inline-block
				width 556px
				height 29px
				top 234px
				left 72px
				background url('../imgs/b/b.t2.png') no-repeat
				background-size cover
			.tu
				position: absolute
				z-index 100
				display inline-block
				width 390px
				height 454px
				top 400px
				left 89px
				background url('../imgs/b/b.tu.png') no-repeat
				background-size cover
			.text
				position: absolute
				display inline-block
				width 128px
				height 126px
				top 421px
				left 490px
				background url('../imgs/b/b.text.png') no-repeat
				background-size cover			
			.pic
				position: absolute
				z-index: 101
				display inline-block
				width 395px
				height 107px
				top 800px
				left 150px
				background url('../imgs/b/b.pic.png') no-repeat
				background-size cover
			.star1
				position: absolute
				z-index: 101
				display inline-block
				width 19px
				height 19px
				top 490px
				left 170px
				background url('../imgs/b/b.star1.png') no-repeat
				background-size cover
			.star2
				position: absolute
				z-index: 101
				display inline-block
				width 23px
				height 23px
				top 572px
				left 137px
				background url('../imgs/b/b.star1.png') no-repeat
				background-size cover
			.star3
				position: absolute
				z-index: 101
				display inline-block
				width 19px
				height 19px
				top 594px
				left 504px
				background url('../imgs/b/b.star4.png') no-repeat
				background-size cover
			.star4
				position: absolute
				z-index: 101
				display inline-block
				width 30px
				height 30px
				top 713px
				left 519px
				background url('../imgs/b/b.star4.png') no-repeat
				background-size cover
			.shadow
				position: absolute
				z-index: 101
				display inline-block
				width 201px
				height 43px
				top 975px
				left 260px
				background url('../imgs/b/b.shadow.png') no-repeat
				background-size cover
		&.slide-wrap3		
			background #91d625
			.t1
				position: absolute
				display inline-block
				width 343px
				height 55px
				top 149px
				left 187px
				background url('../imgs/c/c.t1.png') no-repeat
				background-size cover
			.t2
				position: absolute
				display inline-block
				width 556px
				height 29px
				top 234px
				left 72px
				background url('../imgs/c/c.t2.png') no-repeat
				background-size cover
			.tu
				position: absolute
				z-index 100
				display inline-block
				width 402px
				height 507px
				top 422px
				left 213px
				background url('../imgs/c/c.tu.png') no-repeat
				background-size cover
			.text
				position: absolute
				display inline-block
				width 128px
				height 126px
				top 421px
				left 490px
				background url('../imgs/c/c.text.png') no-repeat
				background-size cover						
			.star1
				position: absolute
				z-index: 101
				display inline-block
				width 19px
				height 19px
				top 511px
				left 206px
				background url('../imgs/c/c.star1.png') no-repeat
				background-size cover
			.star2
				position: absolute
				z-index: 101
				display inline-block
				width 9px
				height 9px
				top 692px
				left 158px
				background url('../imgs/c/c.star1.png') no-repeat
				background-size cover
			.star3
				position: absolute
				z-index: 101
				display inline-block
				width 18px
				height 18px
				top 609px
				left 550px
				background url('../imgs/c/c.star3.png') no-repeat
				background-size cover
			.icon1
				position: absolute
				z-index: 101
				display inline-block
				width 90px
				height 90px
				top 647px
				left 179px
				background url('../imgs/c/c.icon1.png') no-repeat
				background-size cover
			.icon2
				position: absolute
				z-index: 101
				display inline-block
				width 74px
				height 74px
				top 597px
				left 97px
				background url('../imgs/c/c.icon2.png') no-repeat
				background-size cover
			.icon3
				position: absolute
				z-index: 101
				display inline-block
				width 57px
				height 57px
				top 498px
				left 128px
				background url('../imgs/c/c.icon3.png') no-repeat
				background-size cover
			.shadow
				position: absolute
				z-index: 101
				display inline-block
				width 201px
				height 43px
				top 975px
				left 258px
				background url('../imgs/c/c.shadow.png') no-repeat
				background-size cover
		&.slide-wrap4		
			background #48b5f8
			.t1
				position: absolute
				display inline-block
				width 402px
				height 56px
				top 149px
				left 158px
				background url('../imgs/d/d.t1.png') no-repeat
				background-size cover
			.t2
				position: absolute
				display inline-block
				width 451px
				height 29px
				top 235px
				left 128px
				background url('../imgs/d/d.t2.png') no-repeat
				background-size cover
			.tu
				position: absolute
				z-index 100
				display inline-block
				width 345px
				height 424px
				top 492px
				left 149px
				background url('../imgs/d/d.tu.png') no-repeat
				background-size cover
			.text
				position: absolute
				display inline-block
				width 128px
				height 126px
				top 445px
				left 472px
				background url('../imgs/d/d.text.png') no-repeat
				background-size cover						
			.star1
				position: absolute
				z-index: 101
				display inline-block
				width 19px
				height 19px
				top 451px
				left 377px
				background url('../imgs/d/d.star1.png') no-repeat
				background-size cover
			.star2
				position: absolute
				z-index: 101
				display inline-block
				width 18px
				height 18px
				top 490px
				left 135px
				background url('../imgs/d/d.star2.png') no-repeat
				background-size cover
			.star3
				position: absolute
				z-index: 101
				display inline-block
				width 9px
				height 9px
				top 470px
				left 455px
				background url('../imgs/d/d.star3.png') no-repeat
				background-size cover
			.star4
				position: absolute
				z-index: 101
				display inline-block
				width 7px
				height 7px
				top 614px
				left 132px
				background url('../imgs/d/d.star4.png') no-repeat
				background-size cover
			.icon1
				position: absolute
				z-index: 101
				display inline-block
				width 84px
				height 118px
				top 640px
				left 477px
				background url('../imgs/d/d.icon1.png') no-repeat
				background-size cover
			.icon2
				position: absolute
				z-index: 101
				display inline-block
				width 114px
				height 115px
				top 748px
				left 477px
				background url('../imgs/d/d.icon2.png') no-repeat
				background-size cover
			.icon3
				position: absolute
				z-index: 101
				display inline-block
				width 116px
				height 113px
				top 504px
				left 106px
				background url('../imgs/d/d.icon3.png') no-repeat
				background-size cover
			.icon4
				position: absolute				
				display inline-block
				width 100px
				height 96px
				top 450px
				left 159px
				background url('../imgs/d/d.icon4.png') no-repeat
				background-size cover
			.shadow
				position: absolute
				z-index: 101
				display inline-block
				width 201px
				height 43px
				top 975px
				left 258px
				background url('../imgs/d/d.shadow.png') no-repeat
				background-size cover
		&.slide-wrap5	
			background #d48af4
			.t1
				position: absolute
				display inline-block
				width 228px
				height 56px
				top 151px
				left 242px
				background url('../imgs/e/e.t1.png') no-repeat
				background-size cover
			.t2
				position: absolute
				display inline-block
				width 354px
				height 29px
				top 236px
				left 177px
				background url('../imgs/e/e.t2.png') no-repeat
				background-size cover
			.tu
				position: absolute
				z-index 100
				display inline-block
				width 355px
				height 426px
				top 450px
				left 244px
				background url('../imgs/e/e.tu.png') no-repeat
				background-size cover
			.text
				position: absolute
				z-index: 105
				display inline-block
				width 128px
				height 126px
				top 505px
				left 487px
				background url('../imgs/e/e.text.png') no-repeat
				background-size cover
			.pic
				position: absolute				
				display inline-block
				width 239px
				height 286px
				top 689px
				left 240px
				background url('../imgs/e/e.pic.png') no-repeat
				background-size cover						
			.star1
				position: absolute
				z-index: 101
				display inline-block
				width 18px
				height 18px
				top 443px
				left 519px
				background url('../imgs/e/e.star1.png') no-repeat
				background-size cover
			.star2
				position: absolute
				z-index: 101
				display inline-block
				width 9px
				height 9px
				top 435px
				left 232px
				background url('../imgs/e/e.star2.png') no-repeat
				background-size cover
			.star3
				position: absolute
				z-index: 101
				display inline-block
				width 9px
				height 9px
				top 567px
				left 151px
				background url('../imgs/e/e.star2.png') no-repeat
				background-size cover
			.star4
				position: absolute
				z-index: 101
				display inline-block
				width 30px
				height 40px
				top 496px
				left 535px
				background url('../imgs/e/e.star4.png') no-repeat
				background-size cover
			.icon1
				position: absolute
				z-index: 101
				display inline-block
				width 101px
				height 87px
				top 598px
				left 117px
				background url('../imgs/e/e.icon1.png') no-repeat
				background-size cover
			.icon2
				position: absolute
				// z-index: 101
				display inline-block
				width 55px
				height 62px
				top 440px
				left 164px
				background url('../imgs/e/e.icon2.png') no-repeat
				background-size cover
			.icon3
				position: absolute
				// z-index: 101
				display inline-block
				width 56px
				height 65px
				top 398px
				left 319px
				background url('../imgs/e/e.icon3.png') no-repeat
				background-size cover			
			.shadow
				position: absolute
				// z-index: 101
				display inline-block
				width 201px
				height 43px
				top 975px
				left 258px
				background url('../imgs/e/e.shadow.png') no-repeat
				background-size cover
		
		
			