@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  footer {
    height: 110px;
  }
  footer a {
    height: 110px;
    font-size: 24px;
    padding-top: 66px;
    background: no-repeat center 24px;
    background-size: 42px;
    line-height: 40px;
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  footer {
    height: 165px;
  }
  footer a {
    height: 165px;
    font-size: 36px;
    padding-top: 99px;
    background: no-repeat center 36px;
    background-size: 63px;
    line-height: 60px;
  }
}
body .g-hd {
  width: 10rem;
}
body .g-hd .m-dash {
  width: 10rem;
  height: 6.527777777777778rem;
  overflow: hidden;
  background: url("../imgs/1.png") no-repeat #0084ff;
  background-size: cover;
}
body .g-hd .m-dash .canvas1 {
  display: block;
  margin: 0.416666666666667rem auto;
  width: 5.555555555555555rem;
  height: 5.555555555555555rem;
}
body .g-hd .m-money {
  width: 10rem;
  height: 1.666666666666667rem;
  overflow: hidden;
  display: flex;
}
body .g-hd .m-money .u-total,
body .g-hd .m-money .u-pay {
  flex: 1;
  text-align: center;
  font-size: 0.388888888888889rem;
  font-weight: 500;
}
body .g-hd .m-money .u-total .money,
body .g-hd .m-money .u-pay .money {
  display: block;
  margin-top: 0.333333333333333rem;
}
body .g-hd .m-money .u-total .text,
body .g-hd .m-money .u-pay .text {
  display: block;
  margin-top: 0.138888888888889rem;
}
body .g-hd .m-money .u-total {
  border-right: 1px solid #eee;
}
body .g-hdc {
  position: relative;
  width: 10rem;
  height: 6.25rem;
  margin-top: 0.277777777777778rem;
  background: #fff;
}
body .g-hdc .m-hdc-img {
  width: 10rem;
  height: 6.25rem;
  display: block;
}
body .g-hdc .m-hdc-btn {
  position: absolute;
  top: 4.930555555555555rem;
  left: 3.958333333333333rem;
  display: inline-block;
  width: 2.138888888888889rem;
  height: 0.555555555555556rem;
  border: 1px solid #000;
  border-radius: 0.111111111111111rem;
  background: none;
}
