@import './fontSize.styl'
@import "../node_modules/stylus-px2rem"
body
	.g-hd
		width 720px
		// height 590px
		.m-dash
			width 720px
			height 470px
			overflow hidden
			background url('../imgs/1.png') no-repeat #0084ff
			background-size cover
			.canvas1
				display block
				margin 30px auto 
				width 400px
				height 400px
		.m-money
			width 720px
			height 120px
			overflow hidden
			display flex
			.u-total, .u-pay
				flex 1
				text-align center
				font-size 28px
				font-weight 500
				.money
					display block
					margin-top 24px
				.text
					display block
					margin-top 10px					
			.u-total
				border-right 1px solid #eee
				
	.g-hdc
		position: relative
		width 720px
		height 450px
		margin-top 20px
		background #fff
		.m-hdc-img
			width 720px
			height 450px
			display block
		.m-hdc-btn
			position: absolute
			top 355px
			left 285px
			display inline-block
			width 154px
			height 40px
			border 1px solid #000
			border-radius 8px
			background none
			
			