html-font-size = 72px
@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2)
	footer
		height 110px
		a
			height 110px
			font-size 24px
			padding-top 66px
			background no-repeat center 24px
			background-size 42px
			line-height 40px
@media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
	footer
		height 165px
		a
			height 165px
			font-size 36px
			padding-top 99px
			background no-repeat center 36px
			background-size 63px
			line-height 60px