@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  footer {
    height: 110px;
  }
  footer a {
    height: 110px;
    font-size: 24px;
    padding-top: 66px;
    background: no-repeat center 24px;
    background-size: 42px;
    line-height: 40px;
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  footer {
    height: 165px;
  }
  footer a {
    height: 165px;
    font-size: 36px;
    padding-top: 99px;
    background: no-repeat center 36px;
    background-size: 63px;
    line-height: 60px;
  }
}
body {
  width: 10rem;
  background: #f5f5f5;
  padding-bottom: 1.333333333333333rem;
}
body .g-hd {
  position: relative;
  width: 10rem;
  background: #fff;
}
body .g-hd .u-open {
  position: absolute;
  display: inline-block;
  width: 7.777777777777778rem;
  height: 1rem;
  line-height: 1rem;
  background: #c81623;
  color: #fff;
  text-align: center;
  border-radius: 0.138888888888889rem;
  left: 1.111111111111111rem;
  bottom: 0.833333333333333rem;
  font-size: 0.361111111111111rem;
}
