body
	background #fff
	.g-hd
		width 1200px
		margin 0 auto
		height 100px
		line-height 100px
		.m-logo
			display inline-block
			font-size 0
			width 124px
			height 42px
			margin-top 20px
			margin-left 15px
			.logo-img
				font-size 0
				width 124px
				height 42px
		.m-login
			float right
			font-size 16px			
			.u-apply
				margin-right 18px
				color #666
			.u-login
				margin-left 18px
				color #666
	.g-banner
		width 100%
		min-width 1200px
		height 240px
		background url('../imgs/banner.png') center center no-repeat #288cf0
	.g-main
		width 1200px
		margin 0 auto
		// overflow hidden
		.m-head
			margin-top 110px
			height 120px
			text-align center
			font-size 28px
			font-weight 500
			background url('../imgs/icon.png') center 62px no-repeat
			.u-title-en
				font-size 16px
				font-style oblique
				color #999
				margin-top 12px
		.m-content
			position: relative
			margin-top 20px
			.cont-img
				// position: absolute
			.cont-text
				position: absolute
				top 62px
				left 300px
				width 904px
				// height 210px
				background #fff
				border 1px solid #e5e5e5
				padding 28px 50px
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				p
					text-indent 2em
					font-family "宋体"
					font-size 14px
					color #333
					line-height 2
	.g-ft
		width 100%
		margin 220px auto 0
		height 160px
		background #22345c
		.m-ft
			width 1200px	
			margin 0 auto
			overflow hidden
			.m-logo
				display inline-block
				margin-top 60px
				margin-left 10px
				width 122px
				height 42px
			.m-chengxin
				display inline-block
				width 96px
				height 34px
				margin-left 30px
			.m-about
				display inline-block
				width 525px
				color #fff
				margin-left 12px	
				.u-link
					margin-bottom 10px
					a
						color #fff
						&:hover
							color #266ebe
			.m-tel
				display inline-block
				width 300px
				color #fff
				height 37px
				border-left 1px solid #919aae
				vertical-align 15px
				line-height 37px
				font-size 18px
				padding-left 76px
		
