body
	.g-main
		margin-top 88px
		overflow hidden
		.m-location
			font-size 14px
			a
				color #999
		.m-head
			margin-top 24px
		.m-content
			.new-list
				display:inline
				float:left
				width:100%
				margin:10px 0 0
				padding-bottom 28px
				padding-top 20px
				border-bottom 1px solid #eee
				.u-img
					float:left
					width:230px
					height:160px
					overflow hidden
				.txt
					float:right
					width:100%
					height:160px
					overflow:hidden
					margin-left:-230px
					.txt-h3, .txt-p, .red-quare, .news-time
						margin-left:255px
						overflow:hidden
						line-height:18px
					.txt-h3
						margin-bottom 16px
						a
							color #000
							font-size 16px
							font-weight 500
					.txt-p
						height 81px
						overflow hidden
						line-height 2
						// font-family "宋体"
						font-size 14px
					.red-quare
						display inline-block
						width 24px
						height 6px
						background #c81623
						margin-bottom 20px
	.m-page
		margin-top 70px
	.g-ft
		margin-top 110px