.how-cont
	width 100%
	margin-top 20px
	.pram
		margin-bottom 30px
		.pram-h
			font-size 18px
			font-weight 500
		p
			margin-top 20px
			font-size 14px
			font-family "宋体"
			line-height 2
			color #999
body .g-ft
	margin-top 100px